<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MemberMapper">


	<select id="selectAll" resultType="Member">
		select
		members.id,members.name,members.age,members.address,members.born,members.created,
		member_types.name as typeName
		from members
		join member_types
		on members.type_id = member_types.id
	</select>

	<select id="selectById" resultType="Member">
		select
		members.id,members.name.members.age,members.address,
		members.born,members.created,
		members.type_id as typeId
		from members
		where members.id = #{id}
	</select>

	<insert id="insert" parameterType="Member">
		insert into members
		(name,age,address,type_id,born,created)
		values
		(#{name},#{age},#{address}, #{born},#{typeId},now())
	</insert>

	<update id="update" parameterType="Member">
		update members
		set name = #{name},age=#{age},address=#{address},type_id=#{typeId}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from members where id = #{id}
	</delete>


</mapper>