<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.NewsMapper">

<select id="selectAll" resultType="News">

select
id,title,author,post_date
from news
order by post_date desc
</select>

<select id="selectById" resultType="int">



</select>

<insert id="insert" parameterType="News">

</insert>



</mapper>