<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員の追加</title>
<style>
span {
	color: red;
}
</style>
</head>
<body>
	<h1>会員の追加</h1>
	<form action="" method="post" th:object="${member}">
		<span th:errors="*{name}" class="error"></span>
		<p>
			氏名: <input type="text" th:field="*{name}">
		</p>

		<span th:errors="*{age}" class="error"></span>
		<p>
			年齢: <input type="number" th:field="*{age}">
		</p>

		<span th:errors="*{address}" class="error"></span>
		<p>
			住所: <input type="text" th:field="*{address}">
		</p>

		<span th:errors="*{born}" class="error"></span>
		<p>
			流派: <input type="text" th:field="*{born}">
		</p>

		<p>
			会員種別: <select th:field="*{typeId}">
				<option value="1">城仕え</option>
				<option value="2">派遣</option>
				<option value="3">学生</option>
			</select>
		</p>

		<input type="submit">
	</form>

	<p>
		<a href="@{/}">一覧に戻る</a>
	</p>

</body>
</html>